@using Shepherd.Web.ViewModels
@using Shepherd.Core.Extensions
@model MemberDetailsViewModel

@{
    ViewBag.Title = "Member Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Member Details</h3>

@using (Html.BeginForm("Update", "Members", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.HiddenFor(_ => _.MemberId);
	@Html.HiddenFor(_ => _.GeneratedId);
	@Html.AntiForgeryToken()
	<hr />
	@Html.ValidationSummary("", new { @class = "text-danger" })
		
	<div class="form-group">
		@Html.LabelFor(_ => _.FirstName, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(_ => _.FirstName, new { @class = "form-control" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(_ => _.LastName, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(_ => _.LastName, new { @class = "form-control" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(_ => _.MiddleName, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(_ => _.MiddleName, new { @class = "form-control" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(_ => _.BirthDate, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.EditorFor(_ => _.BirthDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Select Birth Date" } }) 
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(_ => _.DateBabtized, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.EditorFor(_ => _.DateBabtized, new { htmlAttributes = new { @class = "form-control", placeholder = "Select Date Babtized" } })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-primary" value="Update" />
			&nbsp;&nbsp;
			<a class="btn btn-default" href="@Url.Action("Index","Members")">Return to Members List</a>
		</div>
	</div>	
}

<script type="text/javascript">
	$(document).ready(function () {
		$('#BirthDate').datepicker({
			format: "mm/dd/yyyy"
		});

		$('#DateBabtized').datepicker({
			format: "mm/dd/yyyy"
		});
	});
</script>