@using Shepherd.Web.Models.Members
@using Shepherd.Web.Controllers
@using Shepherd.Web.Extensions
@model MemberListModel

@{
	ViewBag.Title = "Members Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Members List</h3>
<br />

@using (Html.BeginForm(MembersController.Actions.Index,
			typeof(MembersController).GetControllerName(),
			FormMethod.Post,			
			new { @class = "form-horizontal", role = "form" }))
{
	@Html.DropDownList("MemberType", ViewBag.Type as IEnumerable<SelectListItem>, new { @class = "dropdown" })
	<div class="form-group">
		@Html.LabelFor(_ => _.SearchCriteria.FirstName, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(_ => _.SearchCriteria.FirstName, new { @class = "form-control" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-primary" value="Search" />
		</div>
	</div>
}

<div id="member-list">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th class="col-name text-center">Name</th>
				<th class="col-age text-center">Age</th>
				<th class="col-status text-center">Status</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.MemberList.Items != null)
			{
				foreach (var member in Model.MemberList.Items)
				{
					<tr>
						<td>@Html.ActionLink(member.Name, "Details", new { id = member.MemberId })</td>
						<td class="text-center">@member.AgeInSpirit</td>
						<td class="text-center">@member.Status</td>
					</tr>
				}
			}
		</tbody>
	</table>

	<p>
		<a class="btn btn-primary" href="@Url.Action("Add","Members")">Add New Member</a>
		&nbsp;
		&nbsp;
		<a class="btn btn-default" href="@Url.Action("Index","Home")">Back to Home Page</a>
	</p>
</div>